/* your styles go here */

.space-needed {
    margin: 20px;
    padding-bottom: 20px;
}

#signupform-two .form-group {
    margin-bottom: 20px;
  }
  
  #signupform-two label {
    display: inline-block;
    width: 30%;
    padding-left: 10px;
    color: #656565;
    font-family: "Open Sans", sans-serif;
  }
  
  #signupform-two input {
    width: 60%;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #eee;
    outline: none;
  }
  
  #signupform-two input:focus {
    border-color: #5989e5;
  }
  
  #signupform-two input::-moz-placeholder {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #aaa;
    font-style: italic;
    font-size: 0.9em;
  }
  
  #signupform-two input::-webkit-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #aaa;
    font-style: italic;
    font-size: 0.9em;
  }
  
  #signupform-two input:-ms-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #aaa;
    font-style: italic;
    font-size: 0.9em;
  }